html, body, .page-content, .page-index, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page-index .page-footer {
    position: absolute;
    bottom: 0;
    z-index: 9998;
}

/* jQuery Mobile Additions / Overrides */
.ui-select-time-group .ui-select { margin: 0 -5px 0 0; display: inline-block; width: auto;}
.ui-select-time-group .ui-select .ui-btn-text { width: 100%; }

.form-control-group, .ui-select-time-group, .ui-select-time-separator {
    display: inline-block;
}

.ui-select-time-separator {
    margin-left: 5px;
}

.ui-select-time-separator .ui-btn-inner {
    padding-bottom: 14px;
    padding-top: 10px;
}

#main-nav .ui-btn .ui-btn-inner { padding-top: 40px !important; }
#main-nav .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
.ui-icon-location { background:  url(../images/icon-location.png) 50% 50% no-repeat;  background-size: 20px 21px; }
.ui-icon-deliveries { background:  url(../images/icon-deliveries.png) 50% 50% no-repeat;  background-size: 24px 25px; }
.ui-icon-state { background:  url(../images/icon-state.png) 50% 50% no-repeat;  background-size: 24px 27px; }
.ui-icon-radar { background:  url(../images/icon-radar.png) 50% 50% no-repeat;  background-size: 27px 28px; }
.ui-icon-settings { background:  url(../images/icon-settings.png) 50% 50% no-repeat;  background-size: 24px 27px; }
.ui-icon-accept { background:  url(../images/icon-accept.png) 50% 50% no-repeat;  background-size: 18px 20px; }
.ui-icon-decline { background:  url(../images/icon-decline.png) 50% 50% no-repeat;  background-size: 24px 27px; }

.main-nav-btn-active {
	border: 1px solid 		#155678;
	background: 			#4596ce;
	font-weight: bold;
	color: 					#fff;
	cursor: pointer;
	text-shadow: 0 -1px 1px #145072;
	text-decoration: none;
	background-image: -moz-linear-gradient(
							#85bae4,
							#5393c5);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#85bae4),
		color-stop(1, 		#5393c5));
  	-msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#85bae4', EndColorStr='#5393c5')";
}
.main-nav-active a.ui-link-inherit {
	color: 					#fff;
}

.main-nav-btn-active {
    background: 			#4596ce;
}

/* jGrowl Overrides */
div.jGrowl {
    padding: 0;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
    margin: 0;
    opacity: .75;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

div.jGrowl div.jGrowl-notification {
	min-height: 0;
}

div.jGrowl.center {
	width: 100%;
	left: 0;
}