html, body, .page, .page-content, #map-canvas {
    height: 100%;
}

/*
.page, .ui-content, #map-canvas {
    height: 100%;
}*/

.page-content {
    padding: 0;
}

/* JQUERY MOBILE ADDITIONS / OVERRIDES */
.ui-select-time-group .ui-select { margin: 0 -5px 0 0; display: inline-block; width: auto;}

.form-control-group, .ui-select-time-group, .ui-select-time-separator {
    display: inline-block;
}

.ui-select-time-separator {
    margin-left: 5px;
}

.ui-footer-navbar .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.ui-footer-navbar .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
.ui-icon-location { background:  url(../images/icon-location.png) 50% 50% no-repeat;  background-size: 20px 21px; }
.ui-icon-deliveries { background:  url(../images/icon-deliveries.png) 50% 50% no-repeat;  background-size: 24px 25px; }
.ui-icon-status { background:  url(../images/icon-status.png) 50% 50% no-repeat;  background-size: 24px 27px; }
.ui-icon-radar { background:  url(../images/icon-radar.png) 50% 50% no-repeat;  background-size: 27px 28px; }
.ui-icon-settings { background:  url(../images/icon-settings.png) 50% 50% no-repeat;  background-size: 24px 27px; }
