html, body, .page-content, .page-index, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page-index .page-footer {
    position: absolute;
    bottom: 0;
    z-index: 9998;
}

.strong {
    font-weight: bold;
}

/* jQuery Mobile Additions / Overrides */
.ui-select-group label.ui-select {
    width: 21%;
    margin: 0 5px 0 5px;
    vertical-align: top;
}

.ui-select-group .ui-select {
    width: auto;
}

.ui-select-group .ui-select .ui-btn-text {
    width: 100%;
}

#main-nav .ui-btn .ui-btn-inner { padding-top: 40px !important; }
#main-nav .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
.ui-icon-location { background:  url(../images/icon-location.png) 50% 50% no-repeat;  background-size: 20px 21px; }
.ui-icon-deliveries { background:  url(../images/icon-deliveries.png) 50% 50% no-repeat;  background-size: 24px 25px; }
.ui-icon-work-state { background:  url(../images/icon-work-state.png) 50% 50% no-repeat;  background-size: 24px 27px; }
.ui-icon-radar { background:  url(../images/icon-radar.png) 50% 50% no-repeat;  background-size: 27px 28px; }
.ui-icon-settings { background:  url(../images/icon-settings.png) 50% 50% no-repeat;  background-size: 24px 27px; }
.ui-icon-accept { background:  url(../images/icon-accept.png) 50% 50% no-repeat;  background-size: 18px 20px; }
.ui-icon-decline { background:  url(../images/icon-decline.png) 50% 50% no-repeat;  background-size: 24px 27px; }
.ui-icon-time { background:  url(../images/icon-time.png) 50% 50% no-repeat;  background-size: 25px 26px; }

.main-nav-btn-active {
	border: 1px solid 		#155678;
	background: 			#4596ce;
	font-weight: bold;
	color: 					#fff;
	cursor: pointer;
	text-shadow: 0 -1px 1px #145072;
	text-decoration: none;
	background-image: -moz-linear-gradient(
							#85bae4,
							#5393c5);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#85bae4),
		color-stop(1, 		#5393c5));
  	-msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#85bae4', EndColorStr='#5393c5')";
}
.main-nav-active a.ui-link-inherit {
	color: 					#fff;
}

.main-nav-btn-active {
    background: 			#4596ce;
}

.align-right {
    text-align: right;
    width: 20%;
}

/* jGrowl Overrides */
div.jGrowl {
    padding: 0;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
    margin: 0;
    opacity: .9;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

div.jGrowl div.jGrowl-notification {
	min-height: 0;
}

div.jGrowl.center {
    left: 0;
	width: 100%;
}

div.jGrowl.center-below-header {

}

div.jGrowl div.jGrowl-progress {
    margin: 0;
    padding: 0;
}

/* ProgressBar */
.progress-bar {
    background-color: #000;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 16px;
    opacity: .9;
    position: absolute;
    width: 100%;
}

.progress-bar div {
    background-color: #85bf05;
    height: 100%;
    position: absolute;
    width: 0;
}

.progress-bar span {
    color: #fff;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
}