%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Settings
  %div{"data-role" => "content"}
    %form
      %div{"data-role" => "fieldcontain"}
        %label{"for" => "username"} Username:
        %input{"type" => "text", "name" => "username", "id" => "username"}

      %div{"data-role" => "fieldcontain"}
        %label{"for" => "username"} Password:
        %input{"type" => "text", "name" => "password", "id" => "password"}

      %div{"data-role" => "fieldcontain"}
        %label{"for" => "working_hours"} Working Hours:
        %div{"class" => "form-control-group"}
          %div{"class" => "ui-select-time-group", "data-role" => "controlgroup", "data-type" => "horizontal"}
            %select{"name" => "working_hours_from_hours", "id" => "working_hours_from_hours", "data-input-type" => "time"}
              %option{"value" => "8"} 8
              %option{"value" => "9"} 9
              %option{"value" => "10"} 10
            %select{"name" => "working_hours_from_minutes", "id" => "working_hours_from_minutes", "data-input-type" => "time"}
              %option{"value" => "0"} 30
              %option{"value" => "5"} 35
              %option{"value" => "10"} 40
          %div{"class" => "ui-select-time-separator", "data-role" => "controlgroup", "data-type" => "horizontal"}
            %a{"href" => "#", "data-role" => "button"} -
          %div{"class" => "ui-select-time-group", "data-role" => "controlgroup", "data-type" => "horizontal"}
            %select{"name" => "working_hours_to_hours", "id" => "working_hours_to_hours", "data-input-type" => "time"}
              %option{"value" => "8"} 18
              %option{"value" => "9"} 19
              %option{"value" => "10"} 20
            %select{"name" => "working_hours_to_minutes", "id" => "working_hours_to_minutes", "data-input-type" => "time"}
              %option{"value" => "0"} 30
              %option{"value" => "5"} 35
              %option{"value" => "10"} 40

      %div{"data-role" => "fieldcontain"}
        %label{"for" => "working_hours"} Max. Distance (KM):
        %input{"type" => "range", "name" => "working_hours", "id" => "working_hours", "value" => "0", "min" => "0", "max" => "200"}

      %fielset{"class" => "ui-grid-a"}
        %div{"class" => "ui-block-a"}
          %a{"href" => "#", "data-back" => "true", "data-role" => "button", "data-icon" => "minus"} Cancel
        %div{"class" => "ui-block-b"}
          = link_to "save", "#", "data-role" => "button", "data-icon" => "check", "data-remote-url" => settings_path, :remote => true, :method => :put