%div{"data-role" => "page", "class" => "page"}
  %div{"data-role" => "header"}
    %h1 Settings
  %div{"data-role" => "content", "class" => "page-content"}
    %form
      %div{"data-role" => "fieldcontain", "data-theme" => "c"}
        %label{"for" => "username"} Username:
        %input{"type" => "text", "name" => "username", "id" => "username"}

      %div{"data-role" => "fieldcontain", "data-theme" => "c"}
        %label{"for" => "username"} Password:
        %input{"type" => "text", "name" => "password", "id" => "password"}

      %div{"data-role" => "fieldcontain", "class" => "ui-select-group"}
        %label{"for" => "vehicle"} Vehicle:
        %select{"name" => "vehicle", "id" => "vehicle"}
          %option{"value" => "bike"} Bike
          %option{"value" => "cargobike"} Cargobike
          %option{"value" => "motorbike"} Motorbike
          %option{"value" => "car"} Car
          %option{"value" => "van"} Van

      = link_to "save", "#", "data-role" => "button", "data-icon" => "check", "data-remote-url" => settings_path, :remote => true, :method => :put